:root {
    --main-background-color: #2e2e2e;
    --main-text-color: #ffffff;
    --spotify-color: #1db954;	
    --youtube-color: #ff0000;
}

html {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.spotify-text {
    color: var(--spotify-color);
}

.youtube-text {
    color: var(--youtube-color);
}

#spotify-playlist-url {
    width: 36rem;
}

#youtube-playlist-result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.1rem solid;
    padding: 1rem;
}

#youtube-playlist-url {
    font-size: 0.8rem;
    color: var(--main-text-color);
    text-decoration: none;
}