:root {
    --main-background-color: #2e2e2e;
    --disabled-background-color: #adadad;
    --main-text-color: #ffffff;
    --spotify-color: #1db954;	
    --youtube-color: #ff0000;
}

html {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    margin-top: 8rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logos {
    max-width: 2rem;
}

.spotify-text {
    font-size: 1.6rem;
    color: var(--spotify-color);
}

.youtube-text {
    font-size: 1.4rem;
    color: var(--youtube-color);
}

.url-title {
    display: flex;
    gap: 0.5rem;
}

#spotify-playlist-url {
    padding: 0.4rem 2rem 0.4rem 2rem;
    border: none;
    width: 36rem;
    height: 2rem;
    font-size: 0.8rem;
    outline: none;
    border-radius: 2rem;
}

#spotify-playlist-url:disabled {
    background-color: var(--disabled-background-color);
}

#convert-button {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
}

#convert-button:disabled {
    background-color: var(--disabled-background-color);
}

#youtube-playlist-result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.1rem solid;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

#youtube-playlist-url {
    font-size: 0.8rem;
    color: var(--main-text-color);
    text-decoration: none;
}

#youtube-playlist-url:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}