@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-background-color: #2e2e2e;
    --disabled-background-color: #adadad;
    --main-text-color: #ffffff;
    --spotify-color: #1db954;	
    --youtube-color: #ff0000;
}

html {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    margin-top: 8rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logos {
    max-width: 2rem;
}

.spotify-text {
    font-size: 1.6rem;
    color: var(--spotify-color);
}

.youtube-text {
    font-size: 1.4rem;
    color: var(--youtube-color);
}

.url-title {
    display: flex;
    gap: 0.5rem;
}

#spotify-playlist-url {
    padding: 0.4rem 2rem 0.4rem 2rem;
    border: none;
    width: 36rem;
    height: 2rem;
    font-size: 0.8rem;
    outline: none;
    border-radius: 2rem;
}

#spotify-playlist-url:disabled {
    background-color: var(--disabled-background-color);
}

#convert-button {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
}

#convert-button:disabled {
    background-color: var(--disabled-background-color);
}

#youtube-playlist-result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.1rem solid;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

#youtube-playlist-url {
    font-size: 0.8rem;
    color: var(--main-text-color);
    text-decoration: none;
}

#youtube-playlist-url:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}